.etch-container {
    background-color: white;
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.square {
    background-color: rgb(255, 255, 255);
}