.etch-container {
    background-color: white;
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    background-color: rgb(255, 255, 255);
    /* height: 240px;
    width: 240px; */
}

/* .square:hover{
    background-color: white;
    height: 100px;
    width: 100px; 
} */