body {
    margin: 0;
    background-image: url("./images/pxfuel.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.etch-container {
    background-color: rgba(255, 255, 255, 0.1);
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.square {
    background-color: rgb(255, 255, 255);
}